---
title: false
styles: true
---

// Background colours
$backgroundColour: #ffffff;
$codeBackgroundColour: #fafafa;
$featureBackgroundColour: #f9fafa;
$accentColour: #a005bf;

// Text colours
$headingColour: #242e2b;
$bodyColour: #473840;
$linkColour: #a005bf;
$hoverColour: #7e0596;
$focusColour: #a005bf;
$captionColour: #c0b4c2;

@import "alembic";


