---
title: false
styles: true
---

@import "alembic";

// Background colours
$backgroundColour: #ffffff !default;
$codeBackgroundColour: #fafafa !default;
$featureBackgroundColour: #f9fafa !default;
$accentColour: #a005bf !default;

// Text colours
$headingColour: #242e2b !default;
$bodyColour: #473840 !default;
$linkColour: #a005bf !default;
$hoverColour: #7e0596 !default;
$focusColour: #a005bf !default;
$captionColour: #c0b4c2 !default;

